<h1>NEW ORDER REGISTERED</h1>

<p>Product: <strong>{{ product }}</strong></p>
<p>This product is now available for withdrawal!</p>

<div>
  <strong>Informations Recipient</strong>

  <p>Name: <strong>{{ recipient.name }}</strong></p>
  <p>State: <strong>{{ recipient.state }}</strong> City: <strong>{{ recipient.city }} </strong> CEP: <strong>{{ recipient.cep }}</strong></strong></p>
  <p>Street: <strong>{{ recipient.street }}</strong> Complement: <strong>{{ recipient.complement }}</strong></p>
</div>
